.enter_question {
  height: 50px;
  width: 350px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 4px dimgray;
  font-size: 1.9em;
  text-shadow: 2px 2px black;
}
.delete, .update, .notes_button, .update_question, .save, .hide_notes{
  margin: 10px;
  background-color: lightblue;
  border-radius: 4px;
}
.newAnswer{
  margin-left: 10px;
  background-color: lightblue;
}
