.question {
  text-align: center;
}
.submit, .update_form {
  margin: 50px;
  display: flex;
  justify-content: center;
  input{
  background-color: oldlace;
  width: 60vw;
 }
}

.question_form {
  text-align: center;
  input {
    border-radius: 3px;
  }
}
.update_response, .response_submit {
  input {
    background-color: oldlace;
    width: 60vw;
  }
}
