<div class="container">
  <h2>We have answers</h2>
  <hr>
  <p>
    At this site you are able to ask questions, view all of the asked questions in our database, edit those questions, and or answer those questions. Honestly this has to be the coolest damn site on the internets, I should know, I have been to all three of the internets and nothing like this is out there.
  </p>

  {{#link-to 'index'}}Home{{/link-to}}
</div>
