<div class="container question">
  <h1>Questions, Questions, Questions</h1>
  <h3>Also a few answers that should be taken as gospel truth.</h3>
</div>

<div class="submit container">
  {{new-question save2="save3"}}
</div>

<div class="container">
  <ul>
    {{#each model.questions as |question|}}
      <li><h4>{{#link-to 'question' question.id}}{{question-tile question=question}}{{/link-to}}</h4></li>
    {{/each}}
  </ul>


  <h2>Responses</h2>
  <ul>
    {{#each model.responses as |response|}}
      {{response-tile response=response}}
    {{/each}}
  </ul>
<!-- {{new-question save5="save6"}} -->
</div>
<br>


<br>

<hr>
<footer class="container">
  {{#link-to 'about'}}About{{/link-to}}
</footer>
