<div class="container question">
  <h1>Qestions, Questions, Qestions</h1>
  <h3>Also a few answers that should be taken as gospel truth.</h3>
</div>

<div class="submit container">
  {{new-question save2="save3"}}
</div>

<div class="container">
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
  </ul>

  <h2>Resposes</h2>
  <ul>
    {{#each model.responses as |response|}}
    <li>{{response.answer}} By: {{response.author}}</li>
    {{/each}}
  </ul>
</div>

<footer class="container">
  {{#link-to 'about'}}About{{/link-to}}
</footer>
