<div class="container question.hbs">
  <h2>More indormation about {{question.author}}'s {{question.submit}}</h2>
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{update-question question=model update="update"}}

</div>
