<div class="container">
  <h1>Edit Answers, this is app/temp/response.hbs</h1>
</div>
{{response-detail response=model destroyResponse="destroyResponse"}}
{{new-response save5="save6" response=model}}
<!-- response-detail response=model -->
{{update-response response=model update='update'}}
<!-- {{new-question save5="save6"}} -->
